.gk_block {
    width: 800px;
}

.gk_block input[type=text] {
    width: 500px;
}

.gk_block label { 
  display: inline-block; 
  width: 250px; 
  text-align: right; 
  margin-right: 15px;
}

.gk_block pre { 
  margin-left: 250px;
}

.gk_changed {
  background: lightYellow; 
}

.gk_saved {
  background: lightGreen; 
}

.gk_error {
  background: lightCoral;
}


.gk_ul_double {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    width: 760px;
}

.gk_ul_double li {
    width: 50%;
}
li {
    border-bottom: 1px solid #ccc;
    display: inline;
    float: left;
    line-height: 1.5em;
}